<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div style="text-align: center; padding-top: 10%;">
        <form action="/homeSearchQuery" method="post">
            <button class="btn btn-primary" type="submit" value="SEARCH" name="Sparq">BÚSQUEDA MEDIANTE SPARQL</button>
        </form>
        <form style="padding-top: 5%;" action="/text">
            <button type="submit" class="btn btn-primary" name="TextRazer">BÚSQUEDA MEDIANTE TEXTRAZOR</button>
        </form>
    </div>
</body>

</html>